@import '../assets/scss/variables';
@import '../assets/scss/mixins';


.card{
    @include flexContent(center, center, row);
    flex-wrap: wrap;
    flex: 1;
    gap: 5%;
    background-color: $card-color;
    border-radius: 1em;
    margin: 0.5em;
    overflow: hidden;
    
    img{
        display: block;
        width: 100%;
        height: 100%;
        
        opacity: 50%;
    }
    .filter{
        background-color: $accent;
        
    }
    .hero-image, .hero-image-desktop{
        height: 100%;
        width: 100%;
    }
    .hero-statement{
        height: 100%;
        width: 80%;
        @include flexContent(center, start, column);
        text-align: center;
        margin-top: 10%;
        .hero-title{
            margin-bottom: 5%;
        }
        .info{            
            margin: 1.5em 0;
            & > * {
                margin: 1em;
            }
        }
    }
    .hero-image-desktop{
        display: none;
    }
}
@media screen and (min-width: 576px){
    .info{
        width: 100%;
        @include flexContent(center, space-around, row);
    }
}
@media screen and (min-width: 1200px){
    .card{
        flex-wrap: nowrap;
        
        .hero-statement{
            width: 50%;
            margin-top: unset;
            text-align: left;
            .hero-title{
                margin: 5% auto;
            }
            .hero-description{
                margin-bottom: 5%;
            }
            .hero-title, .hero-description{
                
                text-align: left;
            }
            & > *{
                width: 70%;
            }
        }
        .hero-image-desktop{
            display:flex;
            width: 50%;
            
            img{
                display: block;
                width: 100%;
            }
        }
        .hero-image{
            display: none;
        }
        .info{
            @include flexContent(center, space-between, row);
        }
    } 
}