@import './assets/scss/typography';
@import './assets/scss/variables';
@import './assets/scss/mixins';
@import './assets/scss/medias';

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Inter';
  background-color: $bg-color;
  @include flexContent(center, center, row);
  height: 100vh; 
  box-sizing: border-box;
  
}
.container{
    @include flexContent(center, center, row);
}
